@import "@css/config/colors.scss";

.container {
  flex: 0 1 40%;
  padding: 10px 10px 60px 10px;
  position: relative;
}

.item {
  margin-top: 5px;
}

.total {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $color-grey-60;
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
