/**Basic Colors**/
$color-primary: #3f3dc9;
$color-white: #ffffff;
$color-black: #000000;

/**Blue**/
$color-navy-blue: #2a8eff;
$color-dark-blue: #00142f;
$color-blue: #3f3dc9;
$color-blue-80: #6d6bd5;
$color-light-blue: #bde0ff;

/**Red**/
$color-light-red: #ffb1b1;

/**Grey**/
$color-grey: #676767;
$color-grey-text: #7c7c7c;
$color-grey-80: #8e8e8e;
$color-grey-60: #d1d1d1;
$color-grey-40: #f2f2f2;

/**Green**/
$color-light-green: #00dc30;

/**System**/
$color-error: #ff6f47;
$color-bg: #f8faff;

/**Shadows**/
$box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
