.flyout {
  height: 100%;
  max-width: 450px;
  width: 33%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  background-color: white;
  button{
    &:active{
      .svgIcons{
        width: 22px;
      }
    }
  }
}
