.container{
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0;
  top: 5px;

  button{
    padding: 0;
    background-color: inherit;
    display: flex;
    align-items: center;
    margin-right: 5px;
    &:active{
      .svgIcons{
        width: 22px;
      }
    }
  }
}
